

:root {
    --tile-size: 60px; /* Default tile size */
}

.tile {
    width: var(--tile-size);
    height: var(--tile-size);
    display: grid;
    place-content: center;
}

.black-tile {
    background-color: #22376b;
}

.white-tile {
    background-color: aliceblue;
}

.tile .chess-piece:hover {
    cursor: grab;
}

.tile .chess-piece:active {
    cursor: grabbing;
}
.tile .chess-piece{
    width: 7.2dvh;
    height: 7.2dvh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.tile {
    width: 7.5dvh;
    height: 7.5dvh;
}
