.move-history-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #3d3d3d;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.712);
    font-size: 1.3rem;
    font-weight: 600;
    height: 40%;
    width: 100%;
}


.controls {
    display: flex;
    gap: 16px;
}

.controls button {
    margin-top: .8rem;
    padding: .3rem 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    background-color: #4e4f50;
    color: white;
    border: none;
    border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.712);
    transition: background-color 0.3s;
}

.controls button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.controls button:not(:disabled):hover {
    background-color: #8e9091;
}

.icon {
    font-size: 2em;
}


.pgn-display {
    white-space: pre-wrap;
    background-color: #5e5e5e;
    border-radius: 8px;
    width: 90%;
    height: 200px; /* Set a fixed height or max-height */
    text-align: left;
    line-height: 30px;
    overflow-y: auto;
    padding: 15px;
    color: #fff; /* Optional: set text color for better readability */
}

.pgn-display::-webkit-scrollbar {
    width: 10px;
}

.pgn-display::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 8px;
}

.pgn-display::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


.current-move {
    color: #ff0800;
    font-weight: 800;
}

@media (max-width: 600px) {
    .move-history-container {
        padding: 8px;
    }

    .controls {
        flex-direction: column;
        gap: 4px;
    }

    .controls button {
        width: 100%;
    }
}